/* CSS for better design */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 500px;
    height: 460px;
    padding: 20px;
    background-color:black;
    color:#1de9b6 ;
    border-radius: 10px;
    box-shadow: 0 2px 5px white;
}

h1 {
    color: #1de9b6;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #1de9b6;
    font-weight: bold;
}

input,textarea {
    width: 95%;
    padding: 10px;
    border: 1px solid #1de9b6;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

input ,textarea{
    padding: 7px;
    margin-bottom: 10px;
}

button {
    padding: 10px;
    background-color: #1de9b6;
    color: #000;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

button:hover {
    background-color: #1de9b6;
}
